SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/home/home/setcputurbooff"
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/home/home/setcputurbooff"
